
    //Collors
    $color-header:#253243;
    $color-button:#5FA0FD;
    $color-nav-links:#ABB1BB;
    $color-primary:#FBFBFE;
    $color-secondary:#FFFFFF;
    $color-stars:#ffda0a;

    //media sizes 

    $size-s: 768px;
    $size-m: 900px;
    $size-l: 1024px;
    $size-xl: 1200px;
    $size-xxl: 1290px;

    //debug
    
    $debug: false;


    